/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	
	/* Ventures pages */
	
	/* Ventures pages */
	
	/* Consulting pages */
	
	/* Consulting pages */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	
	/* Ventures pages */
	
	/* Ventures pages */
	
	/* Consulting pages */
	
	/* Consulting pages */
	
}


 /* iPhone 6 (landscape)----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){

	/* Ventures pages */
	
	/* Ventures pages */
	
	/* Consulting pages */
	
	/* Consulting pages */
	
	
}

/* iPhone 6 (portrait)----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	
	/* Ventures pages */
	
	/* Ventures pages */
	
	/* Consulting pages */
	
	/* Consulting pages */
	
}


/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
	
	/* Ventures pages */
	
	/* Ventures pages */
	
	/* Consulting pages */
	
	/* Consulting pages */
	
}

/* Medium (From 641px) ----------- */
@media only screen and (min-width : 641px) {
	
	/* Block/page Name */
	
	
}

/* Large (From 1021px) ----------- */
@media only screen and (min-width : 1021px) {
	
	/* Career Page */
	#tablecareer tbody tr td:last-child{
		padding-right: 0
	}

	#tablecareer tbody tr td .more {
		float: right;
	}
	
	table.dataTable thead > tr > th:first-child,
	#tablecareer tbody tr th:first-child,
	#tablecareer tbody tr td:first-child {
		padding-left: 0;
	}
	
}

/* X-Large (From 1441px) ----------- */
@media only screen and (min-width : 1441px) {
	
	/* Career Detail Name */
	#titleSeparator hr {
		margin-top: 1.55em;
	}
	
}



